<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mongodb_labs_writer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <mongodb_labs_writer.Properties.Settings>
            <setting name="MongoDbUrl" serializeAs="String">
                <value>mongodb://DB1,DB2,DB3</value>
            </setting>
            <setting name="ReplicaSet" serializeAs="String">
                <value>RS1</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>test</value>
            </setting>
        </mongodb_labs_writer.Properties.Settings>
    </applicationSettings>
</configuration>